# Directories
.vs/
/bin/
bin-int/

# Files
*.user
**.vcxproj
**.filters
*.sln
Hare-Editor/HareProfile-Runtime.json
Hare-Editor/HareProfile-Shutdown.json
Hare-Editor/HareProfile-Startup.json
Hare-Editor/HareProfile-Shutdown.json
Hare-Editor/HareProfile-Startup.json
Hare-Editor/imgui.ini
Hare/vendor/yaml-cpp
